$primary-color: #fff !default;
$primary-bg: #0065a4 !default;
$primary-states-color: #0065a4 !default;

$secondary-color: #fff !default;
$secondary-bg: #6a737b !default;
$secondary-states-color: #1D62F0 !default;
